{% extends '::base.html.twig' %}

{% block title %}Lista - Contactos Emergencia{% endblock %}


{% block body -%}
    <h1 align=center>Contactos de Emergencia</h1>
    
    <div align=right>
         {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}}
    </div>
    
    <ul>
        
        <a href="{{ path('contactoemergencia_new') }}">
            <button class="btn btn-success">Agregar un nuevo contacto</button>
        </a>
    </ul>

    <table class="table table-hover table-bordered" cellspacing="0" cellpading="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Numero</th>
                <th>Relacion</th>
                <th>Paciente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellido }}</td>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.relacion}}</td>
                <td>{{ entity.getPaciente()}}</td>
                <td>
                <ul>
                    
                    <li>
                        <a href="{{ path('contactoemergencia_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                    <li>
                        <a href="{{ path('contactoemergencia_show', { 'id': entity.id }) }}">eliminar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('paciente') }}">
                Regresar a lista de pacientes
            </a>
        </li>
    </ul>
        
    {% endblock %}
