{% extends '::base.html.twig' %}
{% block title %}Contactos Emergencia{% endblock %}


{% block body -%}
    <h1 align=center>Contacto de Emergencia</h1>
    
    {{ form(delete_form) }}
    
    <div align=right>
        {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}}
    </div>
    
    <br><br>
    
    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <th>Paciente</th>
                <td>{{ entity.getPaciente()}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entity.apellido }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Relacion</th>
                <td>{{ entity.relacion }}</td>
            </tr>
        </tbody>
        <br><br>
    </table>

        <ul class="record_actions">
         <li>
        <a href="{{ path('contactoemergencia_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <a href="{{ path('contactoemergencia') }}">
            Ver todos los contactos de emergencia
        </a>
    </li>
</ul>
{% endblock %}
