{% extends '::base.html.twig' %}

{% block title %}Lista - Historias Clinicas{% endblock %}


{% block body -%}
    <h1 align=center>Historias Clinicas</h1>
     <div align=right>
         {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}}
    </div>
    
    <ul>
       <a href="{{ path('historiaclinica_new') }}">
            <button class="btn btn-success">Nueva historia clinica</button>
        </a>
    </ul>
    
    <table class="table table-hover table-bordered" cellspacing="0" cellpading="0" width="100%" >
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Fecha de actualizacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.getPaciente() }}</td>
                <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('historiaclinica_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('historiaclinica_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paciente') }}">
                Ir a lista de pacientes
            </a>
        </li>
        </ul>
        <ul>
        <li>
            <a href="{{ path('citas') }}">
                Ir a lista de citas medicas
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('empleado') }}">
                Gestionar empleados
            </a>
        </li>
    </ul>
        
    {% endblock %}
