{% extends '::base.html.twig' %}

{% block title %}Lista - Medicamentos{% endblock %}


{% block body -%}
    <h1>Lista de Medicamentos</h1>
     <div align=right>
         {{ "now"|date("d/m/Y - H:i ", "America/Caracas")}}
    </div>
    <ul>
        <li>
            <a href="{{ path('medicamentos_new') }}">
                Agregar Medicamento
            </a>
        </li>
    </ul>

    <table class="table table-hover table-bordered" cellspacing="0" cellpading="0" width="100%">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Medicamento</th>
                <th>Condicion</th>
                <th>Fecha de actualizacion</th>
                <th>Aciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.getHistoriaClinica() }}</td>
                <td>{{ entity.medicamento }}</td>
                <td>{{ entity.condicion }}</td>
                <td>{% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('medicamentos_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('medicamentos_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('historiaclinica') }}">
                Ir a historias clinicas
            </a>
        </li>
    </ul>
        
    {% endblock %}
